body {
  font-size: 10pt;
  margin: 0 4em;
  width: 600px;
  font-family: monospace
}

pre {
  white-space: pre-line;
  overflow-wrap: break-word;
  text-align: justify;
}

a {
  text-decoration: none;
}


h4 {
  text-align: center;
}

span {
  padding: 0;
  margin: 0;
}

.docinfo {
  padding: 1pt;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.head {
  width: 100%;
}

.state {
  text-transform: uppercase;
  text-align: right;
  color: #C00;
}

.category {
  text-align: right;
}

ul,
ol {
  padding-left: 0px;
}
